<div class="form-mmp">
    <h2>Cadastro</h2>
    <br>
    <br>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-mmp-field">
        <%= f.input :picture, label: "Adcione uma foto" %>
        <%= f.input :picture_cache, as: :hidden %>
      </div>
      <div class="form-mmp-field">
        <%= f.input :email, required: true, autofocus: true %>
       </div>
       <div class="form-mmp-field">
        <%= f.input :firstname, required: true, autofocus: true %>
       </div>
       <div class="form-mmp-field">
        <%= f.input :lastname, required: true, autofocus: true %>
       </div>
       <div class="form-mmp-field">
        <%= f.input :address, required: true, autofocus: true %>
       </div>
       <div class="form-mmp-field">
        <%= f.input :phone, required: true, autofocus: true %>
       </div>
       <div class="form-mmp-field">
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
      </div>
      <button class="form-button" type="submit">Criar conta</button>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
</div>
