<div class="container text-center">
  <div class="form-mmp">
    <h2>Perfil</h2>
    <%= simple_form_for(@user) do |t| %>
    <div class="form-mmp-field">
      <%= t.input :picture, label: "Adcione uma foto" %>
      <%= t.input :picture_cache, as: :hidden %>
    </div>
    <div class="form-mmp-field">
      <%= t.label 'Nome' %>
      <%= t.text_field :firstname %>
    </div>
    <div class="form-mmp-field">
      <%= t.label 'Sobrenome' %>
      <%= t.text_field :lastname %>
    </div>
    <div class="form-mmp-field">
      <%= t.label 'Email' %>
      <%= t.text_field :email %>
    </div>
    <div class="form-mmp-field">
      <%= t.label 'Endereço' %>
      <%= t.text_field :address %>
    </div>
    <button>Salvar alterações</button>
    <% end %>
   </div>
</div>
