
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@item, @rent] do |f| %>
      <p>
      <%= f.input :initial_date, as: :string, required: false,
    :placeholder => 'Select date', input_html: {class: "form-control datepicker"},
    label: "Data de inicio: " %>
      <%= f.input :end_date, as: :string, required: false,
    :placeholder => 'Select date', input_html: {class: "form-control datepicker"},
    label: "Data de devolução: " %>
      <%= f.button :submit, 'Create', class: 'btn-primary' %>
      <% end %>

      <%= link_to 'Back', items_path %>
    </div>
  </div>
</div>
