
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <%= simple_form_for [@item, @rent] do |f| %>
      <%= f.input :initial_date, required: false,
    :placeholder => 'Select date', input_html: {class: "form-control"},
    label: "Data de inicio: " %>
      <%= f.input :end_date, required: false,
    :placeholder => 'Select date', input_html: {class: "form-control"},
    label: "Data de devolução: " %>

      <%= f.button :submit, 'Create', class: 'btn-primary' %>
      <% end %>

      <!-- <h1>Nova reserva</h1>
      <h2>Data de inicio</h2>
      <input type="date">
      <h2>Data de devolução</h2>
      <input type="date"> -->


      <%= link_to 'Back', items_path %>
    </div>
  </div>
</div>
