<nav class="navbar navbar-default">
<div class="navbar-mmp">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-logo" do %>
    <h1>Make my party</h1>
  <% end %>
    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
      <!-- Profile picture and dropdown -->
      <div class="navbar-mmp-item">
        <div class="dropdown">
          <% if user_signed_in? && current_user.facebook_picture_url %>
            <%= image_tag current_user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag current_user.picture, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to users_show_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default:  current_user.email ) %>
              <% end %>
            </li>
            <li>
              <%= link_to new_item_path do %>
                <i class="fa fa-plus-circle"></i>  <%= t(".profile", default: "Adicionar item") %>
              <% end %>
            </li>
            <li>
              <%= link_to items_path(filter: 'mine') do %>
                <i class="fa fa-diamond"></i>  <%= t(".profile", default: "Meus itens") %>
              <% end %>
            </li>
            <li>
              <%= link_to rents_path(filter: 'mine') do %>
              <i class="fa fa-shopping-basket"></i>  <%= t(".profile", default: "Minhas Locações") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="navbar-button-log">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        <%= link_to t(".top_call_to_action", default: "Login", id: 'login'), "#" %>
      </div>
      <!-- Login text link -->
      <div class="navbar-button">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <%= link_to t(".sign_in", default: "Register"), new_user_session_path %>
      </div>
    <% end %>
</div>
</nav>
