<div class="container-fluid text-center">
  <br>
  <br>
  <br>
  <h2> <%= @title %> </h2>
  <br>
  <br>
  <%= form_tag(items_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Digite o item" %>
    <%= submit_tag "Procurar" %>
  <% end %>
  <br>
  <br>
  <% if @items.present? %>
  <p> </p>
    <% else %>
  <p>Item não encontrado: <%= params[:search] %>.</p>
  <% end %>
  <br>
  <div class="row">
      <% @items.each do |item| %>
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="card text-center">
              <%= image_tag item.picture, class: "index-photo"%>
              <h2 class=""><%= item.product_name %></h2>
              <p><%= item.price %> reais por dia</p>
              <div class="cta-container">
                <a href="#" class="cta">Detalhes</a>
              </div>
          </div>
          </div>
      <% end %>
  </div>
  <br>
  <br>
<br>
<br>
<br>

</div>
