<div class="container-fluid text-center">
  <br>
  <br>
  <br>
  <h2> <%= @title %> </h2>
  <br>
  <br>
  <%= form_tag(items_path, :method => "get", id: "search-form") do %>
    <h3>Procurando alguma coisa?</h3>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <%= text_field_tag :search, params[:search], placeholder: "Digite o item" %>
    <%= submit_tag "Procurar" %>
  <% end %>
  <br>
  <%= form_tag items_path, method: :get do %>
    <%= label :location, "Procure Items perto de: " %>
    <%= text_field_tag :location, params[:location] %>

    <%= label :distance, "Distância : " %>
    <%= text_field_tag :distance, params[:distance] %>

    <%= submit_tag "Search" %>
  <% end %>
  <br>
  <br>
  <% if @items.present? %>
  <p> </p>
    <% else %>
  <p>Item não encontrado: <%= params[:search] %>.</p>
  <% end %>
  <br>
  <div class="row">
      <% @items.each do |item| %>
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="card text-center">
              <%= image_tag item.picture, class: "index-photo"%>
              <h2 class=""><%= item.product_name %></h2>
              <p><%= item.price %> reais por dia</p>
              <div class="cta-container">
                <%= link_to(item_path(item)) do %>
                <button class="cta" style="background-color:  #22C9BE; width: 50%; color: white;">Detalhes</button>
                <% end %>
              </div>
          </div>
          </div>
      <% end %>
  </div>
  <br>
  <br>
<br>
<br>
<br>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
